<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-app-deep-linking"
    version="0.0.1">
    <name>App Deep Linking</name>
    <description>Provides handing of deep links into Android App.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,google,deeplinking,appindexing</keywords>
    <repo></repo>

    <js-module src="www/deeplinking.js" name="deeplinking">
        <runs/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeepLinking" >
                <param name="android-package" value="cordova-plugin-app-deep-linking"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/DeepLinking.java" target-dir="src/org/apache/cordova/appdeeplinking/DeepLinking.java" />
    </platform>
</plugin>
